<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<style>
  .bg-1
  {
    background-color: #1abc9c;
    color: #ffffff;

  }
  .bg-1 h1
  {
    text-align:center;
  }
</style>
</head>
<body>
<div class="container-fluid bg-1 text-center">
<h1>Swach Bharat Abhiyaan</h1>
<img src="http://4.bp.blogspot.com/-Drs5rGUCtug/VHqqOFM7klI/AAAAAAABF0k/-F9sMotQV-c/s1600/Final-Swachh-bharat-MIB-Google%2B-Cover-Page_01.jpg" class="img-circle" alt="logo">
</div>
</body>
