<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Services | Corlate</title>
    
    <!-- core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/prettyPhoto.css" rel="stylesheet">
    <link href="../css/animate.min.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/responsive.css" rel="stylesheet">
    
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>

    <header id="header">
       <!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="../images/logo.png" alt="logo"></a>
                </div>
                
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="home.html">Home</a></li>
                        <li><a href="aboutus.html">About Us</a></li>
                        <li class="active"><a href="services.html">The 10 Steps</a></li>
                        <li><a href="../users/new.html">Join Us!</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="blogitem.html">Blog Single</a></li>
                               
                            </ul>
                        </li>
                       
                        <li><a href="contact_us.html">Contact</a></li>                        
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
        
    </header><!--/header-->

    <section id="feature" class="transparent-bg">
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>The 10 Steps</h2>
                <p class="lead"> We see, We Blame; But we need to be the change we want to see and raise our voice, make a change and change the game.</p>
            </div>
<p>

 <strong>10 steps to Swachh Bharat :</strong>       
  </p>  
  <h4>&nbsp;1) Stop littering and dispose garbage properly:</h4>    
    <p>
"We have a very bad habit of disposing the thrash right where we are sitting or standing. Don’t do that. Don’t litter in your streets, your society, the woods, the water bodies, or your surroundings. Start with yourself by being a model example and encourage others to do the same. Throwing thrash at wrong places never goes away, ever. It will find it’s way to effect you so dispose it in dustbin only for your own good."
<span id="more-3102"></span>
</p>
<h4>2) Sort your Garbage:</h4>
<p>
"Sorting garbage seems like a mundane task? tedious task? Well, it’s one of the most effective way of controlling the garbage disposal crises of the world. Sort them into two categories (Biodegradable and non biodegradable). How simple is that! Once you start implementing then encourage your neighbors to do the same, you will see a drastic change in the environment contamination condition because by proper thrash sorting biodegradable garbage can be broken down thus reducing thrash."
</p>
<h4>3) Maintain Hygiene:</h4>
<p>
"By maintaining hygiene both inside and outside our home, we immediately stop the breeding spots of mosquitoes and flies that spread diseases. “"
<span class="st">
<em>Diarrhoea</em>
" is a leading killer of children, accounting for 9 per cent of all "
<em>deaths</em>
" among "
<em>children</em>
" under age 5 worldwide” (UNICEF)."
</span>
" Dirty hands is one of the main cause,children and elders both should always wash their hands properly and regularly specially before eating and encourage and educate others to do the same."
</p>
<h4>4) Re-Use and Re-cycle:</h4>
<p>
"Reuse and recycle are those two magic mantra in creating cleaner surroundings. If there is something that you don’t need anymore; find another way of using it, if not then find someone who might need it; if it’s broken then try to fix it before disposing. Think before you dispose anything. This small habit of recycling and reusing should be encouraged."
</p>
<h4>5) Say NO to Plastic :</h4>
<p>
"Plastics are the poison to our environment, animals and us. The plastic we use always comes back to poison us via our food etc. So, say NO to plastic bags, instead use papar-bags or khadi/fabric/juit bags. And always dispose it in dustbins."
</p>
<h4>6) Consume what you need:</h4>
<p>
"Need and requirement are two different things. Here moot point is not how much you can pay for your usage but it’s about how much is left over this planet for an individual and how much we can consume. Excess use of anything will only decreases its availability and will go waste. Consider bigger picture and act accordingly.”
</p>
<h4>7) Water care:</h4>
<p>
"Water is life and it’s availability per capita has been on the decline in India. The main reasons have been the increasing population leading to the increasing demand for water. Agriculture is the main consumer of water along with many industries and life sources so harvesting rainwater is one of the best ways everyone can make water available in their surroundings. Moreover, water reuse with water treatment and recycling of water is another good option to reduce its consumption."
</p>
<h4>8) Reduce your carbon footprints:</h4>
<div style="width: 224px" class="wp-caption aligncenter"></div>
<p>
"Carbon Footprint : "
<span class="st">
"The total sets of greenhouse gas "
<em>emissions</em>
" caused by an organization, event, product or person."
</span>
</p>
<p>
"Go for energy efficient appliances and limit the usage of air conditioners, water heaters, dishwashers or thermostats. keep your carbon footprints in check and control the greenhouse effect."
</p>
<h4>9) Check Air Pollution:</h4>
<p>
"Burning thrash may seem like an easy and attractive option but by burning thrash we release a lot of toxins to the environment and pollute the air. Likewise we burn a lot of fuel in our vehicle and sometimes not have it properly serviced which causes even more air pollution. Try to use public transport or car pooling and reduce Air pollution."
</p>
<h4>10) Environmental education and tree plantation :</h4>
<p>
"Every educational body must conduct workshops to educate society about the importance of environment in modern world. Children and even elders must be taught how to keep their surroundings clean and also how to maintain proper hygiene and it’s importance."
<br>
"
Tree plantation should be encouraged as they have countless benefits."
</p>
<p>
"These are some of the steps to make a cleaner India. We not only need to read it but also implement it in our daily life and make sure people around us do the same."
</p>






</div>

        </div><!--/.container-->
    </section><!--/#feature-->


    </section><!--/#bottom-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                 
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">

                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.prettyPhoto.js"></script>
    <script src="../js/jquery.isotope.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/wow.min.js"></script>
</body>
</html>