<p id="notice"><%= notice %></p>
  <strong href="">Thank You for Registering   <%= @user.name %>!</strong>
<div class="fb-share-button" data-href="https://www.facebook.com/goclindia" data-layout="button_count"></div>
<a href="https://twitter.com/share" class="twitter-share-button"{count} data-via="prakhar_5" data-hashtags="go!cleanIndia">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<div id="fb-root"></div>
